---
import Layout from "../layouts/Main.astro";
const headline = "Hello Solution page!";
const title = "Astro Static";
---

<Layout title={title}>
  <div class="flex flex-col justify-evenly h-screen">
  <h1>{headline}</h1>
  <div class="flex justify-around items-center items-end">
    <div class="mt-8">
      <button
        class="dark:bg-orange-400 border rounded p-4 drop-shadow-lx border-zinc-900 bg-zinc-900 text-white"
      >
        Go <a href="/">back</a>
      </button>
    </div>
    <div class="mt-8">
      <button
        class="dark:bg-orange-400 border rounded p-4 drop-shadow-lx border-zinc-900 bg-zinc-900 text-white"
      >
        Go to <a href="/about">About</a>
      </button>
    </div>
  </div>
  </div>
</Layout>
