---
const { title } = Astro.props;
import DarkMode from "../components/DarkMode.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-orange-400 dark:bg-zinc-900">
    <nav class="bg-zinc-900 flex justify-between dark:bg-orange-400">
      <div class="flex items-center justify-center pl-6">
        <img
          src="../../public/images/logo-static.png"
          alt="logo"
          height="60px"
          width="60px"
        />
      </div>
      <div class="flex items-center justify-center pr-6">
        <DarkMode client:visible />
      </div>
    </nav>
    <main class="">
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
